{% extends 'layout.html' %}

{% block head %}
		<title>three.js / editor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=100, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<!-- Origin Trial Token, feature = WebXR Device API (For Chrome M69+), origin = https://threejs.org, expires = 2019-01-07 -->
		<meta http-equiv="origin-trial" data-feature="WebXR Device API (For Chrome M69+)" data-expires="2019-01-07" content="ArPzyYNrUDiXsGOh647Ya7MtVUA1nM+WFMnPWu7eoF2nQHOP6mTATIbiv0w+k2kFaPofZG/04ZEQdsACq4IA0wQAAABTeyJvcmlnaW4iOiJodHRwczovL3RocmVlanMub3JnOjQ0MyIsImZlYXR1cmUiOiJXZWJYUkRldmljZU02OSIsImV4cGlyeSI6MTU0Njg4MzAxOH0=">
		<!-- Origin Trial Token, feature = WebXR Gamepad Support, origin = https://threejs.org, expires = 2019-01-07 -->
		<meta http-equiv="origin-trial" data-feature="WebXR Gamepad Support" data-expires="2019-01-07" content="Av16a8LVXasKVQV9j3u0OlXdTfz5O9qDqhROyL5Up6R3sdOPbtFuc6n6o5DHitwnb5VdirH0GyvROwvz8xxd0AkAAABYeyJvcmlnaW4iOiJodHRwczovL3RocmVlanMub3JnOjQ0MyIsImZlYXR1cmUiOiJXZWJYUkdhbWVwYWRTdXBwb3J0IiwiZXhwaXJ5IjoxNTQ2ODgzMDE4fQ==">
		<style>
			.label{
				position: absolute;
				font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
				padding: 2px;
				font-size: 9px;
				font-weight: 300;
				font-stretch: ultra-condensed;
				background: rgba( 0, 0, 0, 0 );
			}
		</style>

		{% endblock %}

{% block body %}



		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

		<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>	
		<script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
		<link id="theme" href="{{ url_for('static', filename='css/light.css') }}" rel="stylesheet" />
		
		
		<!--<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>-->
		<script src="{{ url_for('static', filename='js/build/three.js') }}"></script>
		<script src="{{ url_for('static', filename='js/examples/js/libs/system.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/examples/js/controls/EditorControls.js') }}"></script>
		<script src="{{ url_for('static', filename='js/examples/js/controls/TransformControls.js') }}"></script>
		<script src="{{ url_for('static', filename='js/examples/js/libs/jszip.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/examples/js/libs/inflate.min.js') }}"></script> <!-- FBX -->
		<script src="{{ url_for('static', filename='js/examples/js/renderers/Projector.js') }}"></script>
		<script src="{{ url_for('static', filename='js/examples/js/renderers/RaytracingRenderer.js') }}"></script>
		
		<script src="{{ url_for('static', filename='js/libs/codemirror/codemirror.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/codemirror/mode/javascript.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/codemirror/mode/glsl.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/esprima.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/jsonlint.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/glslprep.min.js') }}"></script>
		
		<script src="{{ url_for('static', filename='js/libs/codemirror/addon/dialog.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/codemirror/addon/show-hint.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/codemirror/addon/tern.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/acorn/acorn.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/acorn/acorn_loose.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/acorn/walk.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ternjs/polyfill.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ternjs/signal.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ternjs/tern.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ternjs/def.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ternjs/comment.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ternjs/infer.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ternjs/doc_comment.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/tern-threejs/threejs.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/signals.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ui.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/ui.three.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/app.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Player.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Script.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Storage.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Editor.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Config.js') }}"></script>
		<script src="{{ url_for('static', filename='js/History.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Loader.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.File.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.Run.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.Edit.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.Add.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.View.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.Play.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.Examples.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.Help.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Menubar.Status.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Scene.js') }}"></script>	
		<script src="{{ url_for('static', filename='js/Sidebar.Nodes.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Elements.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Supports.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Results.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Sections.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Materials.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Pointloads.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Distloads.js') }}"></script>

		<script src="{{ url_for('static', filename='js/Sidebar.Settings.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Settings.Shortcuts.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Settings.Viewport.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Properties.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Object.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Geometry.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Geometry.Geometry.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Geometry.BufferGeometry.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Geometry.Modifiers.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.History.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Strings.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Toolbar.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Viewport.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Viewport.Info.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Command.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/AddObjectCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/RemoveObjectCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/MoveObjectCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetPositionCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetRotationCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetScaleCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetValueCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetUuidCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetColorCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetGeometryCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetGeometryValueCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/MultiCmdsCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/AddScriptCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/RemoveScriptCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetScriptValueCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetMaterialCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetMaterialValueCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetMaterialColorCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetMaterialMapCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/commands/SetSceneCommand.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/html2canvas.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/dat.gui.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/three.html.js') }}"></script>
		<script src="{{ url_for('static', filename='js/examples/js/utils/SceneUtils.js') }}"></script>
		<!--snap stuff-->
		<script src="{{ url_for('static', filename='js/Octree.js') }}"></script>
		<script src="{{ url_for('static', filename='js/object_hash.js') }}"></script>
		<script src="{{ url_for('static', filename='js/GridSnap.js') }}"></script>
		<!--richer lines-->	
		<!--<script src="{{ url_for('static', filename='js/libs/require.js') }}"></script>-->
		<script src="{{ url_for('static', filename='js/libs/lines/THREE.MeshLine.js') }}"></script>
		<!--
		<script src="{{ url_for('static', filename='js/libs/lines/LineSegmentsGeometry.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/lines/LineGeometry.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/lines/WireframeGeometry2.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/lines/LineMaterial.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/lines/LineSegments2.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/lines/Line2.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/lines/Wireframe.js') }}"></script>
		-->	
		<!--Labels-->
		<script src="{{ url_for('static', filename='js/examples/js/renderers/CSS2DRenderer.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/labels/THREE.TextTexture.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/labels/THREE.TextSprite.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/labels/THREE.spritetext.js') }}"></script>
		
		<!-- Vision-specific modules-->
		<script src="{{ url_for('static', filename='js/makeTextSprite.js') }}"></script>
		<script src="{{ url_for('static', filename='js/drawNodes.js') }}"></script>
		<script src="{{ url_for('static', filename='js/drawElements.js') }}"></script>
		<script src="{{ url_for('static', filename='js/drawPointLoads.js') }}"></script>
		<script src="{{ url_for('static', filename='js/drawDistLoads.js') }}"></script>
		<script src="{{ url_for('static', filename='js/addSections.js') }}"></script>
		<script src="{{ url_for('static', filename='js/customSignals.js') }}"></script>
		<script src="{{ url_for('static', filename='js/resultsMqn.js') }}"></script>
		<script src="{{ url_for('static', filename='js/resusltsDisplacements.js') }}"></script>
		<script src="{{ url_for('static', filename='js/deformedStructure.js') }}"></script>
		
		<!-- Modern UI Components -->
		<script src="{{ url_for('static', filename='js/GridNodes.js') }}"></script>
		<script src="{{ url_for('static', filename='js/GridNodesUI.js') }}"></script>
		<script src="{{ url_for('static', filename='js/Sidebar.Elements.Modern.js') }}"></script>
		<script src="{{ url_for('static', filename='js/ModernToolbar.js') }}"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css">
		<link rel="stylesheet" type="text/css" href="https://handsontable.com/static/css/main.css">
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/light.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/modern.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/monokai.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/dialog.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/show-hint.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tern.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">

		
		<script>
			
			window.URL = window.URL || window.webkitURL;
						
			window.BlobBuilder = window.BlobBuilder || window.WebKitBlobBuilder || window.MozBlobBuilder;

			Number.prototype.format = function (){
				return this.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
			};

			//

			var editor = new Editor();

			var viewport = new Viewport( editor );
			document.body.appendChild( viewport.dom );
			
			var toolbar = new Toolbar( editor );
			document.body.appendChild( toolbar.dom );
			
			var script = new Script( editor );
			document.body.appendChild( script.dom );
			
			var player = new Player( editor );
			document.body.appendChild( player.dom );
			
			var menubar = new Menubar( editor );
			document.body.appendChild( menubar.dom );
			
			var sidebar = new Sidebar( editor );
			document.body.appendChild( sidebar.dom );
			
			var modal = new UI.Modal();
			document.body.appendChild( modal.dom );
			
			//


			editor.setTheme( editor.config.getKey( 'theme' ) );

			editor.storage.init( function () {

				editor.storage.get( function ( state ) {

					if ( isLoadingFromHash ) return;

					if ( state !== undefined ) {

						editor.fromJSON( state );
					

					}

					var selected = editor.config.getKey( 'selected' );

					if ( selected !== undefined ) {

						editor.selectByUuid( selected );

					}

				} );

				//

				var timeout;

				function saveState( scene ) {

					if ( editor.config.getKey( 'autosave' ) === false ) {

						return;

					}

					clearTimeout( timeout );

					timeout = setTimeout( function () {

						editor.signals.savingStarted.dispatch();

						timeout = setTimeout( function () {
							
							data = editor.toJSON()
							
							editor.storage.set( data );

							editor.signals.savingFinished.dispatch();

						}, 100 );

					}, 1000 );

				};

				var signals = editor.signals;

				signals.geometryChanged.add( saveState );
				signals.objectAdded.add( saveState );
				signals.objectChanged.add( saveState );
				signals.objectRemoved.add( saveState );
				signals.materialChanged.add( saveState );
				signals.sceneBackgroundChanged.add( saveState );
				signals.sceneFogChanged.add( saveState );
				signals.sceneGraphChanged.add( saveState );
				signals.scriptChanged.add( saveState );
				signals.historyChanged.add( saveState );

				signals.showModal.add( function ( content ) {

					modal.show( content );

				} );
				
				// custom signal functions 
				labels = editor.labels
				axes = editor.axes
				//labels.name = 'Labels'
				editor.sceneHelpers.add(labels)
				editor.sceneHelpers.add(axes)

				signals.objectRemoved.add( function ( object ) {
					axis = editor.sceneHelpers.getObjectByName(object.name+'axis')
					editor.sceneHelpers.remove(axis)
					lbl = editor.sceneHelpers.getObjectByName(object.name+'lbl')
					editor.sceneHelpers.remove(lbl)
					
				} );
			
				signals.objectAdded.add( function ( object ) {
					if (object.userData.type == 'element'){
						var label = new SpriteText(object.userData.en, 0.015);
						x = object.userData.label_position.x+0.1
						y = object.userData.label_position.y+0.1
						z = object.userData.label_position.z+0.1
						label.position.set(x, y, z);
				
						label.name = object.name+'lbl';
						labels.add(label);

						var localAxes = new THREE.Object3D();
						var origin = object.userData.label_position;        
						var alength = 0.6;
						var hex;

						
						hex = 0xff0000;
						arrowHelper = new THREE.ArrowHelper( object.userData.xLocal, origin, alength, hex );
						localAxes.add ( arrowHelper );
						
						hex = 0x0000ff;
						arrowHelper = new THREE.ArrowHelper( object.userData.yLocal, origin, alength, hex );
						localAxes.add ( arrowHelper );

						//var yDir = new THREE.Vector3().crossVectors( xDir, zDir );
					
						hex = 0x00ff00;
						arrowHelper = new THREE.ArrowHelper( object.userData.zLocal, origin, alength, hex );
						localAxes.add ( arrowHelper );
						localAxes.name = object.name+'axis'
						editor.axes.add(localAxes)
						editor.sceneHelpers.add(localAxes)
						editor.sceneHelpers.add(label);

					} else if (object.userData.type == 'node'){
						var label = new SpriteText(object.userData.nn, 0.018);
						x = object.userData.label_position.x+0.1
						y = object.userData.label_position.y+0.1
						z = object.userData.label_position.z+0.1
						label.position.set(x, y, z);
				
						label.name = object.name+'lbl';
						labels.add(label)
						editor.sceneHelpers.add(label)
					}
					
				} );
				signals.editorCleared.add( function (  ) {
					editor.label = new THREE.Object3D();
					editor.label.name = 'Labels'
					
				} );

			} );

			
			//

			document.addEventListener( 'dragover', function ( event ) {

				event.preventDefault();
				event.dataTransfer.dropEffect = 'copy';

			}, false );

			document.addEventListener( 'drop', function ( event ) {

				event.preventDefault();

				editor.loader.loadFiles( event.dataTransfer.files );

			}, false );

			function onWindowResize( event ) {
				
				editor.signals.windowResize.dispatch();
				// console.log ('resize triggered');

			}

			window.addEventListener( 'resize', onWindowResize, false );
			onWindowResize();

			//

			var isLoadingFromHash = false;
			var hash = window.location.hash;

			if ( hash.substr( 1, 5 ) === 'file=' ) {

				var file = hash.substr( 6 );

				if ( confirm( 'Any unsaved data will be lost. Are you sure?' ) ) {

					var loader = new THREE.FileLoader();
					loader.crossOrigin = '';
					loader.load( file, function ( text ) {

						editor.clear();
						editor.fromJSON( JSON.parse( text ) );

					} );

					isLoadingFromHash = true;

				}

			}
		</script>
		
		<script>
			// Initialize modern components after editor is ready
			document.addEventListener('DOMContentLoaded', function() {
				// Wait for editor to be fully initialized
				setTimeout(function() {
					if (typeof editor !== 'undefined') {
						console.log('Initializing modern CAD interface components...');
						
						// Initialize Grid Nodes UI
						if (typeof GridNodesUI !== 'undefined') {
							window.gridNodesUI = new GridNodesUI(editor);
							console.log('✅ Grid Nodes UI initialized');
						}
						
						// Initialize Modern Toolbar
						if (typeof ModernToolbar !== 'undefined') {
							window.modernToolbar = new ModernToolbar(editor);
							console.log('✅ Modern Toolbar initialized');
						}
						
						// Add welcome notification
						setTimeout(function() {
							showWelcomeNotification();
						}, 1500);
					}
				}, 1000);
			});
			
			// Welcome notification function
			function showWelcomeNotification() {
				var notification = document.createElement('div');
				notification.style.cssText = `
					position: fixed;
					top: 20px;
					right: 20px;
					background: linear-gradient(135deg, #007bff, #0056b3);
					color: white;
					padding: 16px 20px;
					border-radius: 8px;
					box-shadow: 0 8px 24px rgba(0,0,0,0.15);
					z-index: 10000;
					font-weight: 500;
					max-width: 300px;
					animation: slideIn 0.3s ease-out;
				`;
				
				notification.innerHTML = `
					<div style="display: flex; align-items: center; gap: 8px; margin-bottom: 8px;">
						<span style="font-size: 20px;">🎉</span>
						<strong>Welcome to Enhanced CAD!</strong>
					</div>
					<div style="font-size: 14px; opacity: 0.9; line-height: 1.4;">
						New features available:
						<br>• 🔲 Grid Nodes with transparency
						<br>• 🛠️ Modern toolbar (Ctrl+T)
						<br>• ✨ Beautiful UI components
					</div>
				`;
				
				// Add animation keyframes
				var style = document.createElement('style');
				style.textContent = `
					@keyframes slideIn {
						from { transform: translateX(100%); opacity: 0; }
						to { transform: translateX(0); opacity: 1; }
					}
				`;
				document.head.appendChild(style);
				
				document.body.appendChild(notification);
				
				// Auto-hide after 8 seconds
				setTimeout(function() {
					notification.style.transition = 'all 0.3s ease-out';
					notification.style.transform = 'translateX(100%)';
					notification.style.opacity = '0';
					setTimeout(function() {
						if (notification.parentNode) {
							document.body.removeChild(notification);
						}
					}, 300);
				}, 8000);
				
				// Click to dismiss
				notification.onclick = function() {
					notification.style.transition = 'all 0.3s ease-out';
					notification.style.transform = 'translateX(100%)';
					notification.style.opacity = '0';
					setTimeout(function() {
						if (notification.parentNode) {
							document.body.removeChild(notification);
						}
					}, 300);
				};
			}
		</script>
		
	</div>
	<script>
		console.log(editor)
		function buildTable(data, headers, id) {
			check = document.getElementById(id);
			console.log(check)
			if (check != undefined ){
				//document.dom.removeChild(check)
			}
			var table = document.createElement("table");
			table.className="gridtable";
			var thead = document.createElement("thead");
			var tbody = document.createElement("tbody");
			var headRow = document.createElement("tr");
			headers.forEach(function(el) {
			var th=document.createElement("th");
			th.appendChild(document.createTextNode(el));
			headRow.appendChild(th);
			});
			thead.appendChild(headRow);
			table.appendChild(thead); 
			data.forEach(function(el) {
			var tr = document.createElement("tr");
			for (var o in el) {  
				var td = document.createElement("td");
				td.appendChild(document.createTextNode(el[o]))
				tr.appendChild(td);
			}
			tbody.appendChild(tr);  
			});
			table.appendChild(tbody)
			table.id = id;
			return table;
		}
		$.ajax({
				type: "POST",
				url: "/getUsername",
				data: 'user',
				dataType: 'text',
				success: function (e) {
					user = e.replace(/"/g,"")						
				},
				error: function(xhr, status, error) {
					console.log(xhr, status, error);	
				}
			});	
	</script>
	<script>
		
		MOUNTAINS =  [{"user_id":"cv13116","nn":1,"f_x":-49.352,"f_y":-0.578,"f_z":-35.821,"m_x":3.745,"m_y":-122.859,"m_z":0.464},{"user_id":"cv13116","nn":6,"f_x":-50.99,"f_y":-3.367,"f_z":-26.298,"m_x":7.656,"m_y":-128.082,"m_z":0.402},{"user_id":"cv13116","nn":7,"f_x":-50.9,"f_y":0.797,"f_z":30.223,"m_x":-3.684,"m_y":-127.694,"m_z":0.536},{"user_id":"cv13116","nn":8,"f_x":-48.759,"f_y":3.147,"f_z":31.895,"m_x":-6.684,"m_y":-120.654,"m_z":0.615}]
		
		$(function () {
			$( "#mqn" ).dialog({
				autoOpen: false,
				resizable: false,
				height: 480,
				width: 680
			});
			
			$("#openerMqn").click(function() {
				
				$("#mqn").dialog('open')
				
					
			});
		});

		$(function () {
			$( "#displacements" ).dialog({
				autoOpen: false,
				resizable: false,
				height: 480,
				width: 680
			});
			
			$("#openerDisplacements").click(function() {
				
				$("#displacements").dialog('open');
								
			});
		});

		$(function () {
			$( "#reactions" ).dialog({
				autoOpen: false,
				resizable: false,
				height: 300,
				width: 450
			});
			
			$("#openerReactions").click(function() {
				
				$("#reactions").dialog('open');
							
				
				
			});
		});

		$(function () {
			$( "#nodal_displ" ).dialog({
				autoOpen: false,
				resizable: false,
				height: 300,
				width: 520
			});
			
			$("#openerNodalDispl").click(function() {
				
				$("#nodal_displ").dialog('open');
							
				
				
			});
		});

		$(function () {
			$( "#sections" ).dialog({
				autoOpen: false,
				resizable: false,
				height: 500,
				width: 600
			});

			$("#openerSections").click(function() {

				$("#sections").dialog('open');


			});
		});

		$( function() {
			$( "#sections" ).tabs();
	  	} );
	</script>
	<script>
	
	</script>
	<div id="reactions" title="Reactions">
		<div id='react-table'></div>
	</div>

	<div id="nodal_displ" title="Nodal Displacements">
		<div id='nodal_displ-table'></div>
	</div>
	
	<div id="mqn" title="MQN">
			<div>
				<select name='element' id='element' style='width: 60px'>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				  </select>
					 <select name='value' id='value' style='width: 60px'>
					<option value="Fx">Fx</option>
					<option value="Fy">Fy</option>
					<option value="Fz">Fz</option>
					<option value="Mx">Mx</option>
					<option value="My">My</option>
					<option value="Mz">Mz</option>
				  </select>
				</div> 
			<div id="selectionsMqn">
						
			</div>  
			<div id="graphMqn">
			</div>
		</div>
		<div id="displacements" title="Displacements">
				<div>
						<select name='element2' id='element2' style='width: 60px'>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						
						  </select>
							 <select name='value2' id='value2' style='width: 60px'>
							<option value="uy">uy</option>
							<option value="uz">uz</option>
						<select>
						</div> 
			<div id="selectionsDisplacements">
						
			</div>  
			<div id="graphDisplacements">
			</div>
		</div>
	<div id="sections" title="Sections" style="background-color: LightGray">
		<ul>
			<li><a href="#material-tab">Material</a></li>
			<li><a href="#section-tab">Section</a></li>
		</ul>
		<div id="material-tab">
			<div id="material-table"></div>
		</div>
		<div id="section-tab">
		</div>
	</div>

	<style>
			table.gridtable {
			font-family: verdana,arial,sans-serif;
			font-size:11px;
			color:#333333;
			border-width: 1px;
			border-color: #666666;
			border-collapse: collapse;
		}
		table.gridtable th {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #666666;
			background-color: #dedede;
		}
		table.gridtable td {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #666666;
			background-color: #ffffff;
		}
	</style>
	
{% endblock %} 