{% extends 'editor.html' %}

{% block head %}
    <!doctype html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>jQuery UI Dialog - Default functionality</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script>
      $( function() {
        $( "#98348527-12b1-44dd-8fdd-499d2704badf").dialog();
      } );
      </script>
    </head>
{% endblock %}

{% block body %}

    <body>
     
      
      </div>


    </body>
    {% endblock %}